@model IEnumerable<PhoneBook.Models.Contacts>

@{
    ViewBag.Title = "contactList";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="contact" content="width=device-width" />
    <title>Contact List</title>
</head>
<body>
    <div class="jumbotron">
        <h1>CONTACT List</h1>
        <p class="lead">Description...Contact list from static JSON file</p>
    </div>
    <div class="table-responsive" style="font-size:medium;">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact)
                    </td>
                    <td>
                        <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("sendMessage", "Contact", new { id = item.PersonId})'">Send Message</button>
                    </td>
                </tr>
        }

        </table>
    </div>
    <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("Index")'">Home</button>
</body>
</html>